.login-container {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 100%;
  .login-form-wrapper {
    margin-top: 45%;
    width: 500px;
    .login-form {
      width: 100%;
      &--full-width {
        width: 100%;
      }
      &--button {
        margin-top: 5%;
      }
    }
    @media (max-width: 640px) {
      margin-top: 80%;
      width: 300px;
    }
  }
}
