<mat-toolbar>
    <a routerLink="/">{{ title }}</a>
    <span class="header-spacer"></span>
    <button
        mat-icon-button
        matTooltip="Add a ticket"
        class="example-icon favorite-icon"
        aria-label="Add a ticket button"
        (click)="openAddTicketModal()"
    >
        <mat-icon>add</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Search for a ticket"
        class="example-icon favorite-icon"
        aria-label="Search button"
        (click)="toggleSearchPanel()"
    >
        <mat-icon>search</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Sign out"
        class="example-icon favorite-icon"
        aria-label="Sign out button"
        (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-expansion-panel [expanded]="searchPanelOpen">
    <form class="search-form">
        <mat-form-field>
            <input *ngIf="isDashboardComponent()" placeholder="Search" type="text" matInput [formControl]="search" (input)="updateTicketList()">
            <input *ngIf="!isDashboardComponent()" placeholder="Search" type="text" matInput [formControl]="search" (change)="updateTicketList()">
            <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
</mat-expansion-panel>

