<app-header></app-header>
<table mat-table [dataSource]="ticketsTableData" class="dashboard-table">
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Sujet </th>
        <td mat-cell *matCellDef="let element"> {{ element.subject }} </td>
    </ng-container>
    <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> Auteur </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdBy }} </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Dernière mise à jour </th>
        <td mat-cell *matCellDef="let element"> {{ element.updatedAt | customDate: 'longDate' }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="ticketsTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ticketsTableColumns;"></tr>
</table>
<mat-paginator
    [pageSizeOptions]="[10, 20, 100]"
    [length]="ticketsTableTotal"
    (page)="getCurrentPageEvent($event)"
    showFirstLastButtons
></mat-paginator>
