<mat-toolbar>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        matTooltip="Add a ticket"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
    >
        <mat-icon>add</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Search for a ticket"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
    >
        <mat-icon>search</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Sign out"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

