::ng-deep {
  .cdk-overlay-pane {
    @media screen and (max-width: 960px) {
      min-width: 90% !important;
    }
    .mat-dialog-container {
      @media screen and (max-width: 960px) {
        border-radius: 0 !important;
      }
    }
  }
  .cdk-overlay-connected-position-bounding-box {
    .cdk-overlay-pane {
      @media screen and (max-width: 960px) {
        min-width: 85% !important;
      }
      .mat-select-panel {
        @media screen and (max-width: 960px) {
          border-radius: 0 !important;
        }
      }
    }
  }
}
.form-container {
  min-width: 30vw;
  form {
    margin-bottom: 3%;
  }
  p {
    color: red;
  }
  .mat-form-field {
    margin-top: 16px;
    display: block;
  }
  .mat-stroked-button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    display: block;
  }
  .form-loading {
    margin-top: 20px;
    color: #c1d2d2;
    .mat-progress-bar {
      margin-top: 10px;
    }
  }
}
